html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

[data-theme="dark"] {
  background-color: #111827;
  color: #fff;
}

[data-theme="light"] {
  background-color: #ffffff;
  color: #111827;
}

.theme-toggle-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

[data-theme="dark"] .theme-toggle-button {
  background-color: #ffffff;
  color: #0d1117;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-theme="dark"] .theme-toggle-button:hover {
  background-color: #c1c1c1;
  color: #0d1117;
}

[data-theme="light"] .theme-toggle-button {
  background-color: #0d1117;
  color: #ffffff;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-theme="light"] .theme-toggle-button:hover {
  background-color: #000000;
  color: #c1c1c1;
}
